apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./base
# If you would like install without redis and postgres
# delete line below
- ./storages

configMapGenerator:
- name: dvc-viewer-config
  literals:
  # REQUIRED, legacy
  # API endpoint that is used by frontend = $(BACKEND_URL)/api
  # url
  - API_URL=http://localhost:8000/api
  # REQUIRED, legacy
  # UI endpoint that is used by backend
  # url
  - UI_URL=http://localhost:3000
  # REQUIRED
  # UI endpoint
  # url
  - VIEWER_URL=http://localhost:3000
  # REQUIRED to be True in production
  - SOCIAL_AUTH_REDIRECT_IS_HTTPS="False"
  # REQUIRED
  # Supported SCM providers, depends on *_client_id
  # list(string) - comma separated strings
  - SCM_PROVIDERS=github,gitlab,bitbucket

  # Django option
  # https://docs.djangoproject.com/en/3.0/ref/settings/#allowed-hosts
  - ALLOWED_HOSTS='*'
  # Debug flag is used for Django app
  # https://docs.djangoproject.com/en/3.0/ref/settings/#debug
  # string (python bool)
  - DEBUG="False"
  # Environment for the service
  # string
  - ENV=prod
  # Django option
  # https://docs.djangoproject.com/en/3.0/ref/settings/#use-x-forwarded-host
  - USE_X_FORWARDED_HOST="True"
  # Webhook url exposed to the internet
  # url
  - GITHUB_WEBHOOK_URL=
  # Webhook url exposed to the internet
  # url
  - GITLAB_WEBHOOK_URL=
  # Webhook url exposed to the internet
  # url
  - BITBUCKET_WEBHOOK_URL=
  # Mailgun server name, when mailgun service is used
  # domain
  - MAILGUN_SERVER_NAME=


secretGenerator:
- name: dvc-viewer-secret
  literals:
  # REQUIRED
  # PostgreSQL database url
  # url
  - database_url=psql://postgres:for_development_purpose@dvc-viewer-postgres.default.svc.cluster.local:5432/dvc # when ./storages is enabled
  # REQUIRED if Bitbucket
  # Bitbucket OAuth Client ID
  # string
  - bitbucket_client_id=
  # REQUIRED if Bitbucket
  # Bitbucket OAuth Secret Key
  # string
  - bitbucket_client_secret=
  # REQUIRED if Github
  # Github OAuth Client ID
  # string
  - github_client_id=
  # REQUIRED if Github
  # Github OAuth Secret Key
  # string
  - github_client_secret=
  # REQUIRED if GitLab
  # GitLab OAuth Client ID
  # string
  - gitlab_client_id=
  # REQUIRED if GitLab
  # GitLab OAuth Secret Key
  # string
  - gitlab_client_secret=
  # REQUIRED
  # Redis url
  # url
  - redis_url=redis://dvc-viewer-redis.default.svc.cluster.local # when ./storages is enabled
  # REQUIRED
  # Django Secret Key
  # YOU MUST REGENERATE THE VALUE, https://djecrety.ir/
  # string
  - secret_key=e12s36!=^3$#j$*-3=d=hcb)lbd6)mu($dd%(ql8jq-8a8n=&7

  # Github webhook secret
  # > ruby -rsecurerandom -e 'puts SecureRandom.hex(20)'
  # string
  - github_webhook_secret=
  - gitlab_webhook_secret=
  - mailgun_access_key=


images:
- name: dvc-viewer-ui
  newName: docker.iterative.ai/viewer_ui
  newTag: latest
- name: dvc-viewer-backend
  newName: docker.iterative.ai/viewer_backend
  newTag: latest
